body {
    background-color: #212121;
    font-family: 'Poppins', sans-serif;
}

.titlestyle {
    color: #FAFAFA;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
}

.myname {
    color: #FAFAFA;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 100px;
}

.submyname {
    color: #F5F5F5;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.alltext {
    color: #EEEEEE;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 2;
    font-weight: 200;
}

.firsttext {
    padding-top: 30px;
}

.mylogo {
    padding-top: 80px;
    max-width: 30px;
    width: auto;
    height: auto;
}

.margin-top {
    padding-top: 100px;
}

.paddingzeroright {
    padding-right: 0;
}

.paddingTopTextTitle {
    padding-top: 30px;
}

.separateone {
    border-color: #333333;
}

.separatetwo {
    border-color: #333333;
    margin-top: 50px;
}

.paddingTop {
    padding-top: 150px;
}

.marginTop {
    margin-top: 150px;
}

.quotetext {
    color: #BDBDBD;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 1px;
}

.emailText {
    color: #FAFAFA;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 18px;
}

.copyrightText {
    font-size: 12px;
    color: #EEEEEE;
    font-weight: 100;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.spotlightText {
    font-weight: 500;
}

.imgZoom {
    top: 0;
    left: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.imgZoom {
    -webkit-transform: scale(1.00);
    -ms-transform: scale(1.00);
    transform: scale(1.00);
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.imgZoom:hover {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98);
}